scenes
simple\box.ray
simple\box_cyl_opaque_shadow.ray
simple\cube_transparent.ray
simple\cyl_ambient.ray
simple\cyl_ambient_atten.ray
simple\cyl_diff_spec.ray
simple\cyl_diffuse.ray
simple\cyl_emissive.ray
simple\cyl_uncapped.ray
simple\poly_sphere.ray
simple\texture_reflection.ray
simple\trimesh_cube.ray
simple\box_dist_atten.ray
simple\sphere_refract.ray
simple\cylinder_refract.ray
simple\box_cyl_transp_shadow.ray
simple\box_cyl_reflect.ray
trimeshes\box_sphere.ray